<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clicker</title>
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
</head>

<body>
    <div class="centered-div", id="main", onclick="onClick()">
        <h1 id="number">{{ number }}</h1>
    </div>
    <script>
        function onClick() {
            console.log("clicked")
            scaleDiv()
            var numberDiv = document.getElementById("number");
            var counter = Number.parseInt(numberDiv.innerText)
            counter += 1
            numberDiv.innerText = counter
            send_increase()
        }

        function scaleDiv() {
                var numberDiv = document.getElementById("number");

                // Apply the scaling effect
                numberDiv.style.transform = "scale(1.5)";  // Make the div 1.5 times larger

                // After 0.3 seconds, revert back to the original size
                setTimeout(function () {
                    numberDiv.style.transform = "scale(1)";  // Revert back to the original size
                }, 300); // 300ms = 0.3s
            }
        
        function send_increase() {
            const ns = document.getElementById("number").innerText
            const n = Number.parseInt(ns)
        
            const data = {
                number: n
            };

            // Sending POST request using fetch
            fetch('/increase', {
                method: 'POST', // Set request method to POST
                headers: {
                    'Content-Type': 'application/json', // Sending JSON data
                },
                body: JSON.stringify(data), // Convert JavaScript object to JSON string
                })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
                // Update the counter value displayed on the page
                document.getElementById('number').innerText = data.counter;
            })
                    .catch(error => {
                        console.error('Error:', error);
                    });
                }
    </script>
</body>

</html>