<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secret</title>
    <link rel="stylesheet" href="/assets/secret.css">
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
</head>

<body>
    <div class="centered-div", id="main" onclick="onClick()">
        <img src="https://http.cat/418" id="cat1" class="svo">
        <img src="https://media1.tenor.com/m/ePnVjjF-Qm4AAAAd/deep-rock-galactic-rock-and-stone.gif" id="pivo" style="display: none;" class="svo">
    </div>
    <script>
        const list = ["cat1", "pivo"]
        var currentPick = "cat1"

        function nextPick() {
            const ci = list.indexOf(currentPick)
            if (ci == -1) return
            const next = (ci+1) % list.length
            currentPick = list[next]

        }

        function onClick() {
                console.log("clicked")
                changePick()
            }

        function changePick() {
            const old = currentPick
            nextPick()
            const current = currentPick
            const oel = document.getElementById(old)
            oel.style.display = "none"
            const nel = document.getElementById(current)
            nel.style.removeProperty("display")
        }

    </script>
</body>

</html>